<div>
  <%if current_user%>
  <h1>Welcome, <%=current_user.email%>!</h1>
  <%end%>
</div>


<div class="container">
  <!--   <div class="username"></div>    -->    
  <div class="row">
    <% @musics.each do |x|%>
    <!--     <h2><%=@song_title%></h2> -->    
    <div class="col-xs-4">
      <div class="song_title">
      <h4><%=x.author%>:<%=x.song_title%></h4><h5><%=x.created_at%>,ID:<%=x.id%></h5><a href="/musics/delete/<%=x.id%>" >DELETE</a>
      </div>
      <!-- <div class="thumb"> -->
      <!-- <a class="thumbnail" href="#"> -->
      <iframe width="384" height="216" src="https://www.youtube.com/embed/<%=x.url%>" frameborder="0" allowfullscreen></iframe>

      <!-- </a> -->
    </div>
    <%end%>
  </div>
</div>

<!-- 
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div> -->


